[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
connexion = "*"
selinon = {extras = ["celery", "mongodb", "redis", "postgresql"], version = "==1.0.0rc4"}

[dev-packages]

[requires]
python_version = "3.6"
